<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AgenciaTM{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" href={{ asset("bundles/agenciatm/vendors/bootstrap/dist/css/bootstrap.min.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/font-awesome/css/font-awesome.min.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/nprogress/nprogress.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/iCheck/skins/flat/green.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/pnotify/dist/pnotify.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/pnotify/dist/pnotify.buttons.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/pnotify/dist/pnotify.nonblock.css")}}>
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/css/custom.min.css")}} />
        <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/css/agenciatm.css")}} />
    {% block stylesheets %}{% endblock %}

</head>
<body class="nav-md">
{% block body %}{% endblock %}
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/jquery/dist/jquery.min.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/bootstrap/dist/js/bootstrap.min.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/fastclick/lib/fastclick.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/nprogress/nprogress.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/gauge.js/dist/gauge.min.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/iCheck/icheck.min.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/skycons/skycons.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/moment/min/moment.min.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/bootbox/bootbox.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/pnotify/dist/pnotify.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/pnotify/dist/pnotify.buttons.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/pnotify/dist/pnotify.nonblock.js")}}></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/datepicker/daterangepicker.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/vendors/bootbox/bootbox.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/js/custom.js")}}></script>
<script type="text/javascript" src={{asset("bundles/agenciatm/js/commonsAdmin.js")}}></script>
{% block javascripts %}{% endblock %}
</body>
</html>
