{% extends 'AgenciaTMBundle::layoutAdmin.html.twig'%}
{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/agenciatm/vendors/validator/validator.js') }}"></script>
    <script type="text/javascript" src="{{asset('bundles/agenciatm/js/Controllers/UsuarioController.js')}}"></script>
    {#    <script type="text/javascript" src="{{asset('bundles/expojuy/js/validations/EmpresaValidation.js')}}"></script>#}
    <script type="text/javascript">
        $(function () {
            var app = new UsuarioController();
            app.initNewEdit();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Editar Usuario</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-xs-offset-3">
                            <form method="PUT" action="{{path('usuario_editar_put', { 'id': usuario.id })}}" id="formUsuario" class="formUsuario">
                                <input id='idEmpresa' type='hidden' value="{{usuario.id}}">
                                <fieldset>         
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <div class="item form-group">
                                                <label>Nombre:</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre" data-validate-length="3,100" required="required" value="{{usuario.nombre}}">
                                            </div> 
                                            <div class="item form-group">
                                                <label>Apellido:</label>
                                                <input type="text" class="form-control" id="apellido" name="apellido" data-validate-length="3,100" required="required" value="{{usuario.apellido}}">
                                            </div>
                                            <div class="item form-group">
                                                <label>Dni:</label>
                                                <input type="number" class="form-control" id="dni" name="dni" data-validate-length="6,8" required="required" value="{{usuario.dni}}">
                                            </div>
                                            <div class="item form-group">
                                                <label>Domicilio:</label>
                                                <input type="text" class="form-control" id="domicilio" name="domicilio" data-validate-length="3,100" value="{{usuario.domicilio}}">
                                            </div>
                                            <div class="item form-group">
                                                <label>Email:</label>
                                                <input type="email" class="form-control" id="email" name="email" data-validate-length="3,150" required="required" value="{{usuario.email}}">
                                            </div>
                                            <div class="item form-group">
                                                <label>Contraseña:</label>
                                                <input type="password" class="form-control" id="password" name="password" data-validate-length="6,8" required="required">
                                                <span><i class="red">Si no completa este campo, se conservara la contraseña anterior.</i></span>
                                            </div>
                                            <div class="form-group item">
                                                <label>Rol:</label>
                                                <select id="rol" name="rol" class="form-control">
                                                    <option value="">---Seleccione---</option>
                                                    {% for rol in roles %}
                                                        {% if rol.id == usuario.rol.id %}
                                                            <option value="{{rol.id}}" selected="selected">{{rol.nombreAlt}}</option>
                                                        {% else %}    
                                                            <option value="{{rol.id}}">{{rol.nombreAlt}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-xs-offeset-1 col-md-10 col-md-offset-1">
                                            <div class="row">
                                                <div class="col-xs-2 col-md-2 col-md-offset-3">
                                                    <input type="submit" value="Guardar"  class="btn btn-success" />
                                                </div>
                                                <div class="col-xs-2 col-xs-offset-5 col-md-2 col-md-offset-1">
                                                    <a href="{{ path('usuario_index') }}" class="btn btn-default">Volver</a>
                                                </div>
                                            </div>
                                        </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    

