{% extends 'AgenciaTMBundle::layoutAdmin.html.twig'%}
{% block css %}
    <link href="{{ asset('bundles/agenciatm/css/dataTables/dataTables.bootstrap.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/agenciatm/js/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/agenciatm/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{asset('bundles/agenciatm/js/Controllers/UsuarioController.js')}}"></script>
    <script type="text/javascript">
        $(function () {
            var app = new UsuarioController();
            app.init();
        });
    </script>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Lista de Usuarios</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <a class="btn btn-success" href="{{ path('usuario_new') }}">Nuevo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <table class="table table-hover table-striped resultadosTable">
                                <thead>
                                    <tr>
                                        <th>Apellido y Nombre</th>
                                        <th>Dni</th>
                                        <th>Email</th>
                                        <th>Usuario</th>
                                        <th>Rol</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuario in usuarios %}
                                        <tr id='tr-{{usuario.id}}'>
                                            <td>{{ usuario.apellido }}, {{usuario.nombre}}</td>
                                            <td>{{ usuario.dni }}</td>
                                            <td>{{ usuario.email }}</td>
                                            <td>{{ usuario.username }}</td>
                                            <td>{{ usuario.rol.nombreAlt }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" href="{{ path('usuario_show', { 'id': usuario.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
                                                    <a class="btn btn-warning" href="{{ path('usuario_edit', { 'id': usuario.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-danger usuarioEliminar" href="#" data-nombre="{{usuario.apellido}}, {{usuario.nombre}}" data-url="{{  path('usuario_delete', { 'id': usuario.id }) }}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {#                                se incorpora la paginacion del bundle#}
                            <div class="navigation">
                                {{ knp_pagination_render(usuarios) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


