{% extends 'AgenciaTMBundle::layoutAdmin.html.twig'%}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Detalle de la Categoria</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 text-show">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-3 col-md-3">
                                        <b>Nombre:</b>
                                    </div>
                                    <div class="col-lg-9 col-md-9 text-left">
                                        <span>{{categoria.nombre}}</span>
                                    </div>    
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-3 col-md-3 ">
                                        <b>Descripcion</b>
                                    </div>
                                    <div class="col-lg-9 col-md-9 text-left">
                                        <span>{{categoria.descripcion}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix" ></div><br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 text-right">         
                            <a class="btn btn-warning" href="{{ path('categoria_edit', { 'id': categoria.id }) }}" >Editar</a>
                            <a class="btn btn-default" href="{{ path('categoria_index') }}">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
