{% extends 'AgenciaTMBundle::layoutAdmin.html.twig'%}
{% block css %}
    <link href="{{ asset('bundles/agenciatm/css/dataTables/dataTables.bootstrap.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/agenciatm/js/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/agenciatm/js/datatables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{asset('bundles/agenciatm/js/Controllers/CategoriaController.js')}}"></script>
    <script type="text/javascript">
        $(function () {
            var app = new CategoriaController();
            app.init();
        });
    </script>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Lista de Categorias</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <a class="btn btn-success" href="{{ path('categoria_new') }}">Nuevo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <table class="table table-hover table-striped resultadosTable">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for categoria in categorias %}
                                        <tr id='tr-{{categoria.id}}'>
                                            <td>{{ categoria.nombre }}</td>
                                            <td>{{ categoria.descripcion }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-primary" href="{{ path('categoria_show', { 'id': categoria.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
                                                    <a class="btn btn-warning" href="{{ path('categoria_edit', { 'id': categoria.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-danger categoriaEliminar" href="#" data-nombre="{{categoria.nombre}}" data-url="{{  path('categoria_delete', { 'id': categoria.id }) }}" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
{#                                se incorpora la paginacion del bundle#}
                            <div class="navigation">
                                {{ knp_pagination_render(categorias) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


