{% extends 'AgenciaTMBundle::layoutAdmin.html.twig'%}
{% block css %}
    {#    <link type="text/css" rel="stylesheet" href={{asset("bundles/agenciatm/vendors/validator/fv.css")}} />#}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/agenciatm/vendors/validator/multifield.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/agenciatm/vendors/validator/validator.js') }}"></script>
    <script type="text/javascript" src="{{asset('bundles/agenciatm/js/Controllers/CategoriaController.js')}}"></script>
    <script type="text/javascript">
        $(function () {
            var app = new CategoriaController();
            app.initNewEdit();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Nueva Categoria</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-xs-offset-3">
                            <form novalidate="" method="POST" action="{{path('categoria_create')}}" id="formCategoria" class="formCategoria">
                                <fieldset>         
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <div class="item form-group">
                                                <label>Nombre:</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre" data-validate-length="3,100" required="required">
                                            </div> 
                                            <div class="form-group">
                                                <label>Descripcion:</label>
                                                <textarea class="form-control" rows="3" id="descripcion" name="descripcion"></textarea>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-xs-offeset-1 col-md-10 col-md-offset-1">
                                            <div class="row">
                                                <div class="col-xs-2 col-md-2 col-md-offset-3">
                                                    <input type="submit" value="Guardar"  class="btn btn-success" />
                                                </div>
                                                <div class="col-xs-2 col-xs-offset-5 col-md-2 col-md-offset-1">
                                                    <a href="{{ path('categoria_index') }}" class="btn btn-default">Volver</a>
                                                </div>
                                            </div>
                                        </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}