{% extends '::base.html.twig'%}
{% block stylesheets %}
    {% block css %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/expojuy/js/commons.js')}}"></script>
    {% block js %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            {% include 'ExpoJuyBundle:Secciones:menu.html.twig' %}
            {% include 'ExpoJuyBundle:Secciones:header.html.twig' %}
            <div class="right_col" role="main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
