.background-login{
    background: url('../images/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.error-form ul {
    color: #c33838;
    font-family: "Arial";
    font-size: 14px;
    line-height: 1.42857;
    font-style: italic;
    font-weight: bold;
    list-style-type: none;
}

.help-block {
  color: #d15e5e;
  font-style: italic;
  font-weight: bold;
}

.input-error {
    color:#D15E5E;
    border-color:#D15E5E;
}

.text-show{
    font-size: 16px!important;
}